.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative;
    font-size: 1.6rem;

    border: none;
    cursor: pointer;
    color: var(--primary-color);
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: var(--primary-color);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--primary-color);
    padding: 3px;
    transition: all 0.3s;
  }

  &:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
  }
}

.btn--white {
  background-color: #fff;
  color: #777;

  &::after {
    background-color: #fff;
  }
}
